body{
    margin: 0;
    padding: 0;
    background-color: #612357;
}

header{
    margin: 10px 0 0 10%;
    padding: 0;
    display: flex;
    width: 80%;
    min-height: 1000px;
    background-color: #f1fab6;
}

.zagolovok {
    position: relative;
    top: 40px;
    left: 40px;
    font-size: 2rem;
}


