body{
    position: relative;
    padding: 10px;
}

.pole{
    /*display: flex;*/
    display: none;
    height: 500px;
    background-color: #CEFFCE;
}

.pole2{
    position: relative;
    display: flex;
    height: 500px;
    background-color: #CEFFCE;
}

.colon{
    border: 1px solid green;
    height: 200px;
    margin: 6px;
}

.colon2{
    border: 1px solid green;
    height: 200px;
    margin: 6px;
}

.card{
    border: 1px solid lightblue;
    border-radius: 5px;
    width: 40px;
    height: 60px;
    text-align: center;
    font-size: 30px;
    background-color: white;
    color: black;
}

.karta{
    border: 1px solid lightgreen;
    border-radius: 5px;
    background-color: white;
    position: absolute;
    width: 40px;
    height: 60px;
    text-align: center;
}

.podkid{
    position: absolute;
    
}


